body {
/* margin-top: 40px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
background: url(../Images/52.jpeg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

/* Align Div in center */
#center {
    display: table;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Copyright */
#copyrighttext {
    font-size: 15px;
    color: white;
    text-shadow: 2px 2px black;
    padding-top: 5px;
}

/* Navbar color */
/* .navbar {
background: url(../Images/52.jpeg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.navbar-custom {
    background-color: black;
} */

/* Scrollbar when page is reduced to smaller resolution */
.wrapper {
    height: 450px;
    margin: 0 auto;
}
